h1 {
    height: 50px;
    text-align: left;
    float: left;
    line-height: 50px;
    padding: 0 0 0 100px;
}

#content {
    padding: 20px;
    float: center;
}

.clearfix {
    clear: both;
}

#searcher {
    margin-left: 25px;
}

#id-search {
    width: 400px;
}
